{% extends 'partials/base.html' %}
{% load static %}
<head>
  {% block head %}
    {% include 'partials/head.html' %}
    {% include 'partials/header.html' %}
  {% endblock head %}
</head>

<body>
  {% block sidebar %}
    {% include 'partials/sidebar.html' %}
  {% endblock sidebar %}
  
  {% block content %}
    <div class="pagetitle">
      <h1>Pacientes</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Pages</li>
          <li class="breadcrumb-item active">Blank</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-5">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Buscar Paciente</h5>
              <!-- Custom Styled Validation -->
              <form class="row g-3 needs-validation" novalidate="">
                <div class="col-md-10">
                  <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Nome do Paciente</label>
                  </div>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-12">
                  <button class="btn btn-primary col-3" type="submit">Buscar</button>
                  <button class="btn btn-primary col-3" type="submit">Cadastrar</button>
                </div>
              </form><!-- End Custom Styled Validation -->

            </div>
          </div>
        </div>
      </div>
    </section>
  {% endblock content %}

 
  {% block footer %}
    {% include 'partials/footer.html' %}
  {% endblock footer %}
</body>

</html>