{% extends 'partials/base.html' %}
{% load static %}

{% block head %}
    {% include 'partials/head.html' %}
    <title>Cadastro Paciente</title>
    {% include 'partials/header.html' %}
{% endblock head %}

{% block sidebar %}
    {% include 'partials/sidebar.html' %}
{% endblock sidebar %}

{% block content %}
<div class="card">
    <div class="card-body">
      <h5 class="card-title">Cadastro de Pacientes</h5>

      <!-- Floating Labels Form -->
      <form class="row g-3" action="{% url 'paciente:cadastro-paciente' %}" method="POST">
          {% csrf_token %}
          <table>
            {{form.as_table}}
        </table>
          <div class="text-center mt-2">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-secondary">Reset</button>
          </div>
        
      </form><!-- End floating Labels Form -->

    </div>
  </div>
{% endblock content %}

 
{% block footer %}
  {% include 'partials/footer.html' %}
{% endblock footer %}